.container-cadeaux {
  display: flex;

  @media (max-width: 770px) {
    flex-direction: column;
  }

  .mariage {
    min-height: 500px;
  }

  #cadeaux {
    width: 50%;
    padding: 60px 0;

    @media (max-width: 770px) {
      width: 100%;
      order: 1;
    }
    .col-70 {
      width: 80%;
      margin: 0 auto;

      > p {
        margin-top: 30px;
      }
    }
    .separator {
      width: 200px;
      height: 2px;
      display: flex;
      background-color: $background-light;
      margin: 37px auto;
    }

    .details {
      margin-bottom: 0;
    }
  }

  .photo-cadeaux {
    background: url("../../assets/photos/cadeaux-1.png");
    background-size: cover;
    background-position: top;

    width: 50%;

    @media (max-width: 770px) {
      height: 500px;
      width: 100%;
    }
  }
  .arrow {
    margin-top: 36px;
  }
}
