.container-menu {
  display: flex;
  // flex-direction: column;

  @media (max-width: 770px) {
    flex-direction: column;
  }

  li {
    max-width: 700px;

    &.choice {
      margin: 0 auto;
    }
  }

  span {
    font-size: 1.1rem;
  }

  #menu {
    width: 50%;
    padding: 80px 0;
    margin-top: 135px;

    @media (max-width: 770px) {
      width: 100%;
      padding: 0;
      margin-top: 0;
    }

    .col-70 {
      width: 70%;
      margin: 0 auto;
      @media (max-width: 770px) {
        width: 80%;
      }
      > p {
        margin-top: 30px;
      }
    }
    .separator {
      width: 200px;
      height: 2px;
      display: flex;
      background-color: $dark-blue;
      margin: 37px auto;
    }

    .details {
      margin-bottom: 0;
    }
  }

  .photo-menu {
    background: url("../../assets/photos/sexy.png");
    background-size: cover;
    background-repeat: no-repeat;

    width: 50%;
    height: 700px;
    background-position: bottom;

    @media (max-width: 770px) {
      width: 100%;
      height: 450px;
    }
  }
}

.menu-list {
  padding: 50px 20px;
}
