.RSVP {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100vh;
  @media (max-width: 770px) {
    flex-direction: column;
  }

  .enveloppe {
    font-size: 40px;
  }

  h3 {
    margin: 40px 0 0 0;
  }

  .img-rsvp {
    background: url("../../assets/C&B-06192.jpg");
    background-size: cover;
    background-position: top;
    height: 100vh;
    width: 100%;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    @media (max-width: 770px) {
      margin-top: 30px;
    }

    .name-wrapper {
      display: flex;
      width: 80%;
      justify-content: space-evenly;
      align-items: flex-end;

      input {
        &:first-of-type {
          margin: 0 20px 0 0;
        }
      }
    }

    input {
      margin: 35px 0 0 20px;
      height: 70px;
      width: 40%;
      background-color: $header-border;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      outline: none;

      &::placeholder {
        font-size: 15px;
        font-family: "Kaisei HarunoUmi", serif;
      }

      &:last-of-type {
        width: 80%;
        margin: 35px 0 0 0;
      }
    }
  }
  .checkbox-wrapper {
    display: flex;
    width: 80%;
    justify-content: space-between;

    .checkbox {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      input {
        width: 20%;
      }

      span {
        margin-top: 35px;
        margin-left: 20px;
      }
    }
    [type="checkbox"] {
      height: 30px;
    }
  }

  .button {
    border: 1px solid $dark-blue;
    padding: 20px;
    width: 100%;
    margin: 35px 20px 0 0;
    transition: background-color, color 0.3s ease;

    &:last-of-type {
      margin: 35px 0 0 0;
    }
    &.large {
      width: 80%;
    }
  }
}

.jpeg {
  display: inline-block;
  height: 100%;
  width: auto;
  max-width: 600px;
  margin: 40px 30px;
  border-radius: 8px;
}
